
html {
	position: relative;
	min-height: 100%;
}
body {
	font-size: .875rem;
	margin-bottom: 60px;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
Navbar
*/

.navbar-nav > li{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  text-decoration: none;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

/* 
HOME PAGE
*/

:root {
	--jumbotron-padding-y: 3rem;
}
.jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	/*background-color: #fff;*/
	background-image: url("solar3_bg.jpeg");
	background-size: cover;
	height: 93vh;
	background-position: center center;
}
@media (min-width: 768px) {
	.jumbotron {
	padding-top: calc(var(--jumbotron-padding-y) * 2);
	padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
}
.jumbotron p {
	text-decoration-color: white;
}
.jumbotron p:last-child {
	margin-bottom: 0;
}
.jumbotron-heading {
	font-weight: 500;
}
.jumbotron .container {
	max-width: 40rem;
}
.box-shadow { 
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}


.about {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #baf1ff;
	background-size: cover;
	background-position: center center;
}

.experience {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #fff;
	background-size: cover;
	height: 93vh;
	background-position: center center;
}

.projects {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #ffa;
	background-size: cover;
	height: 93vh;
	background-position: center center;
}

/*
Footer
*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}
