{% extends "base.html" %}

{% block body_contents %}

	<main role="main">

		<section class="about text-center">
			<div class="container">
				<h1>About</h1>
				<p class="lead text-blue">Hi there! I'm Connor - this is a website to serve as my online portfolio. It is currently a WIP.</p>
			</div>
		</section>

		<section class="experience text-center">
			<div class="container">
				<h1>Experience</h1>
				<h5>electrical engineering</h5>
				<h5>computer science</h5>
				<h5>finance</h5>
				<h5>econometrics</h5>
			</div>
		</section>

		<section class="projects text-center">
			<div class="container">
				<h1>Projects</h1>
					<h3>Solai</h3>
						<p>A scalable website built on the AWS platform</p>
						<p>tech used: python, flask, jinja, postgreSQL, AWS Elastic Beanstalk + RDS + Route53, HTML, CSS, JS
					<h3>SmartaData</h3>
						<p>A solar fleet data management system that removes weather fluctuation from energy generation for clearer insights</p>
						<p>tech used: python and bash scripting, geospatial datasets, regression analysis, algorithm design</p>
					<h3>The Day Trader</h3>
						<p>An equity and FX real-time price tracking tool (work in progress)</p>
						<p>tech used: python, Alpha Vantage API, Pandas and NumPy</p>
			</div>
		</section>

	</main>

{% endblock %}