{% extends "base.html" %}

{% block body_contents %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<section class="daytrader text-center">
	<div class="container">
	
		{% if ticker %}
			<h3>{{ ticker }}</h3>
		{% endif %}

		<div id="chart_div"></div>

		<br><br><br>

		<form method="post">
			<button type="button submit" name="goBack" class="btn btn-danger">
				Go back
			</button>
		</form>

	</div>
</section>


<script type='text/javascript'>
	google.load('visualization', '1', {packages: ['corechart', 'bar']});
	google.setOnLoadCallback(drawBasic);
	 
	function drawBasic() {

		var data = google.visualization.arrayToDataTable([
			['Currency', 'Rate'],
			{% for date,val in datas %}
				['{{date}}', {{val}}]{{ "," if not loop.last }}
			{% endfor %}
		]);

		var options = {
			'height': '300',
			chartArea: {
				width: '80%'
			},
			legend: {
				position: 'none'
			},
			hAxis: {
				slantedText: false,
				maxAlternation: 1
			},
			vAxis: {
				title: 'Open Price',
				format: 'currency'
			}
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

		chart.draw(data, options);
	}
</script>

{% endblock %}