{% extends "base.html" %}

{% block body_contents %}

	<section class="daytrader text-center">
		<div class="container">
			<h1>The Day Trader</h1>
			<p class="lead text-blue">This tool grabs the selected financial data from <a href="https://www.alphavantage.co/" target="_blank">Alpha Vantage</a>. This tool is a WIP. Currently the tool grabs the data and plots it using Google Charts. Feel free to test this below. Further functionality is being considered and will be implemented as soon as possible!</p>

			<form method="POST">
				<div class="d-flex justify-content-center align-items-center container ">
					<div class="form-group">
						<select class="form-control" name="datatype">
							<option>Hourly</option>
							<option disabled>Daily</option>
							<option disabled>Adjusted Daily</option>
							<option disabled>FX</option>
						</select>
					</div>
				</div>
			
				<center>
					<input class="form-control" type="text" placeholder="Stock ticker (e.g. AAPL)"" name="ticker" style="width: 250px">
				</center>
				<br><br>
				<button type="submit" name="grab" class="btn btn-success">
					Get data
				</button>

			</form>

		</div>
	</section>



{% endblock %}