{% extends "base.html" %}

{% block body_contents %}

	<main role="main">

		<section class="smartadata text-center">
			<div class="container">
				<h1>SmartaData</h1>
				<p class="lead text-blue">This tool adjusts solar generation data by removing weather variation. This gives clearer insights into the genuine performance of the solar asset</p>
				<p>tech used: python and bash scripting, geospatial datasets, regression analysis, algorithm design</p>
				<br>
				<p class="lead text-blue">Information about this tool and how to use it will be added soon. In the meantime, you can see some of the older source code via <a href="https://github.com/con-mcleod/AutoReporta-SmartaData">Github</a></p>
			</div>
		</section>

	</main>



{% endblock %}