{% extends "base.html" %}

{% block body_contents %}

	<main role="main">

		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading text-gray">Solai</h1>
				<p class="lead text-gray">smart solar software and analytics</p>
			</div>
		</section>

		<section class="about text-center">
			<div class="container">
				<h1>About</h1>
			</div>
		</section>

		<section class="experience text-center">
			<div class="container">
				<h1>Skills + Projects</h1>
			</div>
		</section>

	</main>

{% endblock %}